<%- include ../partials/_header %>

<main class="container">
      <div class="row">
        <% cocktails.forEach((cocktail) => { %>
          <ul class="col-lg-6">
          <li>
          <a href="/cocktails/<%= cocktail.id %>"><h3><%= cocktail.name %></h3></a>
          <h4>Alcohol base: <%= cocktail.alcoholBase %></h4>
          <img src="<%= cocktail.image %>" alt="<%= cocktail.name %>" class="img-thumbnail">
          </li>
          </ul>
          <% }) %>
        </div>
</main>
